<h1>Edit Post</h1>

<!-- <table> -->
	<%= form_for @post do |f| %>
		<%= f.text_field :title %>
		<%= f.text_field :body %>
		<%= f.submit 'Submit Change' %>
	<% end %>
<!-- 		<tbody>
			<tr>
				<td>Title</td>
			</tr>
			<tr>
				<td></td>
			</tr>
			<tr>
				<td>Body</td>
			</tr>
			<tr>
				<td></td>
			</tr>
			<tr>
				<td></td>
			</tr>
		</tbody>
</table> -->