html, body {
  height: 100%; 
}

// pure css for grid testing
div {
  border: 1px solid black;
  box-sizing: border-box;


}
#header {
  background-color: black;
  height: 40px;
}

#main {
  background-color: grey;
}

#tag-list {
  background-color: grey;
  height: 600px;
}

#tagger-div {
  background-color: grey;
  height: 600px;
}

#pie-chart {
  background-color: grey;
  height: 600px;
}

#bubble {
  background-color: grey;
  height: 600px;
}

#post-view {
  background-color: grey;
  height: 600px;
}

.gnd {
  background-color: #555555;
  height: 100%;
}
#tagbar {

  height: 200px;
  padding: 25px 50px 75px;
}
#tagbar.ul {
  overflow:hidden;
  overflow-y:scroll;
}

////////////
// tagger //
////////////


.tagger-slider-bar {
  fill: #00ffff;
}

.tagger-slider-thumb {
  fill: #ff8000;
  stroke: #ff3333;
  stroke-width: 2;
}
.tagger-slider-thumb:hover {
  fill: #ff9933;
  stroke: #ff0000;
}
////////////
// bubble //
////////////
.bubble-div {

}

#bubble-svg {

}

.tag-node {
  fill: white;
  stroke: none;
  opacity: 0;

  // make text in pie chart unselectable
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

.post-node {
  fill: #dddddd;
  stroke:#ff8000;
  stroke-width: 2;
}

.post-node:hover {
  stroke:red;
  stroke-width: 4;
  transition: stroke, .3s;
}

// line from center to a post
.post-line {
  stroke: #888888;
  stroke-width: 2;  
}

////////////////////////////////////
///


////// viewer //////

.viewer-container {
  width: 500px;
  height: 500px;
  background: #dddddd;
  border-radius: 10px; 
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  vertical-align: top;
  border-style: solid;
  border-width: 3px;
  border-color: orange;
  transition: border-color, .3s;

}

.viewer-container:hover {
  border-color: red;

}
div.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	background-color: teal;
	margin-right: 2px;
}


/// navigation bar ///
#nb {
	padding: 0;
	background-color: #FFB56C;
  height: 20px;
	margin-bottom: 0;
	font-family: 'Chivo', sans-serif;
  font-size: 12px;
}

 // #postbox { 
 // 		position: absolute;
 // 		top: 90px;
 //  	right: 20px;
 // 		width: 580px;
 // 		height: 520px;
 //    padding: 10px;
 //    border-left: 7px double #252525;
 //    margin: 0;
 //  }

/* font awesome icons */
#icons {
	font-size: 15px;
}









