html, body {
  height: 100%; 
}

// // pure css for grid testing

// #header {
//   background-color: blue;
//   height: 70px;
// }

// #mr {
//   background-color: black;
//   height: 100px;
// }

// #main {
//   background-color: grey;
//   height: 1600px;
// }

// #b1 {
//   background-color: yellow;
//   height: 400px;
// }

// #b2 {
//   background-color: green;
//   height: 400px;
// }

// #b3 {
//   background-color: peachpuff;
//   height: 400px;
// }

// #b4 {
//   background-color: dodgerblue;
//   height: 400px;
// }

// #b5 {
//   background-color: tomato;
//   height: 400px;
// }

// #ml {
//   background-color: black;
//   height: 800px;
// }

.gnd {
  background-color: #555555;
  height: 100%;
}
#tagbar {
  float: left;
  height: 200px;
  padding: 25px 50px 75px;
}
#tagbar.ul {
  overflow:hidden;
  overflow-y:scroll;
}

////////////
// tagger //
////////////

#tagger-div {
   height: 150px;


}

.tagger-slider-bar {
  fill: #00ffff;
}

.tagger-slider-thumb {
  fill: #ff8000;
  stroke: #ff3333;
  stroke-width: 2;
}
.tagger-slider-thumb:hover {
  fill: #ff9933;
  stroke: #ff0000;
}
////////////
// bubble //
////////////
.bubble-div {

}

#bubble-svg {

}

.tag-node {
  fill: white;
  stroke:blue;
  stroke-width: 1;
}

.post-node {
  fill: #dddddd;
  stroke:#ff8000;
  stroke-width: 2;
}

.post-node:hover {
  stroke:red;
  stroke-width: 4;
  transition: stroke, .3s;
}

// line from center to a post
.post-line {
  stroke: #888888;
  stroke-width: 2;  
}

////////////////////////////////////
///


////// viewer //////

.viewer-container {
  width: 500px;
  height: 500px;
  background: #dddddd;
  border-radius: 10px; 
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  vertical-align: top;
  border-style: solid;
  border-width: 3px;
  border-color: orange;
  transition: border-color, .3s;

}

.viewer-container:hover {
  border-color: red;

}

div.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	background-color: teal;
	margin-right: 2px;
}

/// navigation bar ///
#nb {
	padding: 0;
	background-color: #FFB56C;
  height: 20px;
	margin-bottom: 0;
	font-family: 'Chivo', sans-serif;
  font-size: 12px;
}

 // #postbox { 
 // 		position: absolute;
 // 		top: 90px;
 //  	right: 20px;
 // 		width: 580px;
 // 		height: 520px;
 //    padding: 10px;
 //    border-left: 7px double #252525;
 //    margin: 0;
 //  }

/* font awesome icons */
#icons {
	font-size: 15px;
}









