html, body {
  height: 100%;
  overflow: hidden;
  background-color: white;

  // make text in pie chart unselectable
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}
/// styling for main landing page ///

#main {
  margin-top: 20px;
}

h1 {
  padding-top: 30px;
  font-size: 40px !important;
  text-align: center !important;
  color: tomato !important;
  font-family: avenir !important;
  font-weight: 700 !important;
  font-size: 50px;
  

}
// pure css for grid testing
div {
  // border: 1px solid #f9daa4;
  box-sizing: border-box;
}

////header style////
#header {
  text-align: center;
  font-family: 'Candal', sans-serif;
  font-size: 40px;
  padding: 15px;
  color: black;
  background-color: white;
  height: 70px;

}

/// FOR•U•ME ///
.logo {
  // margin-right: 200px;
  font-size: 50px;
  font-family: 'Monoton', cursive;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/// navigation bar ///
#login {
  float: left;
  margin-left: 40px;
  margin-top: 20px;
  font-size: 19px;
  font-family: avenir;
  color: #337ab7;
  font-weight: 700;
  text-decoration: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#signup {
  float: left;
  margin-top: 20px;
  font-size: 19px;
  font-family: avenir;
  color:#337ab7;
  font-weight: 700;
  text-decoration: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  -ms-user-select: none;
  user-select: none;
}

#newpost {
  float: right;
  margin-right: 35px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #337ab7;
  text-decoration: none;
  font-family: avenir;
  text-transform: uppercase;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/// styling for each container divs ///
.container-div {
  height: 707px;
  padding-top: 30px;
  font-family: avenir;
  font-size: 14px;
  color: black;
  // overflow: auto;

}

//////// landing page fadeout effect upon clicking tag-list ////////

//// left-arrow ////
.arrow-1 {
  position: relative;
  margin-left: 25px;
  margin-right: auto;
  top: -150px;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 15px solid #ff8000;
}
//// arrow stem(currently not using) ////
// .arrow-1:after {
//   content: "";
//   position: absolute;
//   left: 30px;
//   top: -12px;
//   background: #FFF;
//   width: 60px;
//   height: 25px;
//   border-radius: 0 12px 12px 0;
// }

//// landing page fadeoutright ////
#taglist-fadeout {
  padding-bottom: 100px;
  height: 600px;
  width: 1180px;
  border-radius: 10px;
  border: solid 3px black;
  margin-left: 10%;
  background: #337ab7;
  // background: #FFA64C;
  position: absolute;
  top: 170px;
  left: 140px;
}

#tagger-fadeout {
  padding-bottom: 100px;
  height: 600px;
  width: 800px;
  border-radius: 10px;
  border: solid 3px black;
  margin-left: 10%;
  background: #337ab7;
  position: fixed; top: 170px; left: 600px;
}

.fadeout-message {
  padding-top: 170px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: white;
  // color: #337ab7;
  opacity: 1.0;
}


/// style for tag list ///
#tag-list {

  height: 480px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 40px;
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  color: #000;
  overflow: auto;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tag-itm {
  cursor: pointer;
}

// #searchbox {
//   border-style: solid;
//   margin-left: 40px;
//   border-radius: 2px;
// }

#selection-text {
   color: #ff8000;
   position: absolute;
   padding-top: 20px;
   padding-left: 47px;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   -ms-user-select: none;
   user-select: none;
}

#box-text {
  padding-left: 40px;
  color: #ff8000;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

#pie-chart {
  margin: 0 auto;
  height: 570px;
  padding-left: 80px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  -ms-user-select: none;
  user-select: none;

}
/// pie chart search button ///
.button {
  fill: #ff8000;
  stroke-width: 2;
  stroke: #000;
}

#bubble {
  // background-color: grey;
  height: 590px;
}

#post-view {
  // background-color: grey;
  height: 570px;
}

.gnd {
  background-color: #555555;
  height: 100%;
}

#form-container {
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 14px;
}
////////////
// tagger //
////////////

#tagger-div {
  // background-color: grey;
  height: 550px;
  padding-top: 30px;
  padding-left: 40px;
  font-family: 'Karla', sans-serif;
  color: white;
  font-size: 14px;
  overflow-y: auto;
  overflow-x: hidden;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tagger-slider-bar {
  fill: #337ab7;
  stroke: black;
  stroke-width: 2;
}

.tagger-slider-thumb {
  fill: #ff8000;
  stroke: black;
  stroke-width: 2;
}
.tagger-slider-thumb:hover {
  fill: #ff9933;
  stroke: #ff0000;
}

//label of tagger-slider//
.tagger-slider-label {
  fill: black;
}
//num on slider//
.tagger-slider-num {
  fill: black;

}
//each of the tag bar//
.tagger-svg {

}
////////////
// bubble //
////////////

#reader {
  padding-bottom: 100px;
  height: 800px;
  width: 1440px;
  border-radius: 10px;
  border: solid 2px grey;
  background: white;
  position: fixed; top: 105px; left: 1600px;
}

#post-title {
  padding-left: 40px;
  font-family: 'Abel', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

#post-body {
  padding-left: 40px;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

.bubble-div {

}

#bubble-svg {

}

.tag-node {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

.post-node {
  // fill: #333333;
  stroke:black;
  stroke-width: 2;
}

.post-node:hover {
  stroke:#ff8000;
  stroke-width: 2;
  transition: stroke, .3s;
}

// line from center to a post
.post-line {
  stroke: black;
  stroke-width: 2;
}


////// viewer //////

.viewer-container {
  width: 500px;
  height: 500px;
  background: #dddddd;
  border-radius: 10px;
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  vertical-align: top;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  transition: border-color, .3s;

}

.viewer-container:hover {
  border-color: #ff8000;

}
div.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	background-color: teal;
	margin-right: 2px;
}


// /// navigation bar ///
// #nb {
// 	padding: 0;
// 	background-color: #FFB56C;
//   height: 20px;
// 	margin-bottom: 0;
// 	font-family: 'Chivo', sans-serif;
//   font-size: 12px;
// }

//  #postbox {
//  		position: absolute;
//  		top: 90px;
//   	right: 20px;
//  		width: 580px;
//  		height: 520px;
//     padding: 10px;
//     border-left: 7px double #252525;
//     margin: 0;
//   }

/* font awesome icons */
#icons {
	font-size: 15px;
}

#newpost-text {
  color: #ff8000;
  font-weight: 500;
}

////////////////NEW POST PAGE//////////////////

.new-post {
  background-color: white;
  color: black;
  text-align: center;
  font-family: avenir;
}

///// modal for login/signup notification ///
///// current not using, link #open/modal to use /////

.loginDialog {
    position: fixed;
    font-family: avenir;
    color: tomato;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.loginDialog:target {
    opacity:1;
    pointer-events: auto;
}
.loginDialog > div {
    width: 430px;
    height: 380px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 30px 20px;
    border-radius: 10px;
    background: #002738;
    font-size: 20px;
    // background: -moz-linear-gradient(#fff, #999);
    // background: -webkit-linear-gradient(#fff, #999);
    // background: -o-linear-gradient(#fff, #999);
}
.close {
    background: tomato;
    color: #002738;
    line-height: 30px;
    position: absolute;
    text-align: center;
    right: -12px;
    top: -10px;
    width: 40px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

.form-group {
  text-align: center;
}





