<!DOCTYPE html>
<html>
<head>
	<title>IFS</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Chivo' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> -->
  <!-- using font awesome for icons -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body style="border:7px double #252525">
	<!-- <div class='col-md-12' id="nb"> -->
	<nav class="navbar navbar-inverse" id="nb" role="navigation">
  <ul>
   <li><a href="#">LOGIN <i class="fa fa-key"></i></a></li>
   <li><a href="#">SIGN UP <i class="fa fa-user-plus"></i></a></li>
   <li><a href="/posts/new"><i class='glyphicon glyphicon-pencil'></i></a></li>
 </ul>


   <!-- <div>
      <ul class="nav navbar-nav">
         <li><a href="#">LOGIN <i class="fa fa-key"></i></a></li>
         <li><a href="#">SIGN UP <i class="fa fa-user-plus"></i></a></li>
         <li><a href="/posts/new"><i class='glyphicon glyphicon-pencil'></i></a></li>
      </ul>
   </div> -->
   <div>
      <div class="navbar-text navbar-right" style="
    padding-right: 50px;"><i class="fa fa-user"></i> Signed in as ROCKET</div>   
  </nav>
  </div>

  <%= yield %>

</body>
</html>

