<div class="pure-g">
    <div class="pure-u-24-24" id="header"></div>
    <!-- <div class="pure-u-1-24" id="mr"></div> -->
    <div class="pure-u-24-24" id="main">
      <div id="p1">
        <div class="pure-u-10-24" id="b1"></div>
        <div class="pure-u-10-24" id="b2"></div>
        <div class="pure-u-14-24" id="b3"></div>
      </div>
      <div id="p2">
        <div class="pure-u-12-24" id="b4"></div>
        <div class="pure-u-12-24" id="b5"></div>
      </div>

    </div>
    <!-- <div class="pure-u-1-24" id="ml"></div> -->

</div>