<div class='col-md-12' id="nb">
	<nav class="navbar navbar-inverse" id="nb" role="navigation">
   <div class="navbar-header" id="blackout">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"><i class='glyphicon glyphicon-menu-hamburger' id="dd"></i></a> 
            <ul class="dropdown-menu" id="icons">
               <li><a href="#">HOW TO USE <i class="fa fa-question-circle"></i></a></li>
               <li class="divider"></li>
               <li><a href="#">WHY IFS <i class="fa fa-lightbulb-o"></i></a></li>
               <li class="divider"></li>
               <li><a href="#">CREDITS <i class="fa fa-users"></i></i></a></li>
               <li class="divider"></li>
               <li><a href="#">GITHUB <i class="fa fa-github-alt"></i></a></li>
            </ul>
        </li>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li><a href="#">LOGIN <i class="fa fa-key"></i></a></li>
         <li><a href="#"><i class="fa fa-user-plus"></i> SIGN UP</a></li>
         <li><a href="/posts/new"><i class='glyphicon glyphicon-pencil'></i></a></li>
      </ul>
   </div>
   <div>
      <div class="navbar-text navbar-right" style="
    padding-right: 50px;"><i class="fa fa-user"></i> Signed in as Rocket</div>   
  </div>
  </nav>
  </div>