<!-- the main view for the ifs controller -->
<!-- include this here so d3 has access to the DOM -->
<style type="text/css">
 rect {
   float: left;
   border: solid 1px #aaa;
 }
</style>
<svg width="200" height="100">
 <circle cx="100" cy="100" r="40" fill="yellow" stroke="grey" stroke-width="8"
        onmouseover="this.setAttribute('r', '90');"
        onmouseout="this.setAttribute('r', '40');"/>
</svg>
<div>
	<svg id="bubble-svg" height="500" width="700"></svg>
</div>
<div id="tagger-div"> 
</div>


<div class=".col-md-6" id="postbox"></div>













<div><%= javascript_include_tag 'ifs' %></div>

