<!-- the main view for the ifs controller -->
<div class='gnd'>
  <div id="tagger-div"> 
    <div class="tagger-new">Choose a tag</div>
  </div>

	<div class="viewer-container">




  </div>
  <div class="bubble-div">
  	<svg id="bubble-svg" height="500" width="700"></svg>
  </div>

  
</div>


<!-- include this here so d3 has access to the DOM -->
<%= javascript_include_tag 'ifs' %>

