
<div class="pure-g" id="main">
    <div class="pure-u-1-1" id="header"> 
        <a href="#" id="login">LOGIN <i class="fa fa-key"></i>&nbsp;&nbsp;&nbsp;
        <a href="#" id="signup">SIGN UP <i class="fa fa-user-plus"></i></a>
        <span class="logo">FOR•U•ME</span>
        <a href="/posts/new" id="newpost"><i class='glyphicon glyphicon-pencil'></i></a>
    </div>

    <div class="pure-u-6-24" id="tag-list">
      <p id="box-text">CHOOSE YOUR TAGS</p>
         <input type="text" name="tags" id="searchbox"><br><br>
       
    </div>
    <div class="pure-u-8-24" id="tagger-div">
      <p id="selection-text">YOUR SELECTIONS</p><br>
      <a href="/tag/delete" id="tag-delete"><i class="fa fa-minus-circle"></i></a>
    </div>
    <div class="pure-u-10-24" id="pie-chart"></div>

    <div class="pure-u-12-24" id="bubble">
      <svg id="bubble-svg" height="590" width="700"></svg>
    </div>

    <div class="pure-u-12-24" id="post-view"></div>
</div> 


<!-- include this here so d3 has access to the DOM -->
<%= javascript_include_tag 'ifs' %>

