
<div class="pure-g" id="main">
    <div class="pure-u-1-1" id="header">
        <a href="#" id="login">LOGIN <i class="fa fa-key"></i></a>
        <a href="#" id="signup">SIGN UP <i class="fa fa-user-plus"></i></a>
        <span class="logo">FOR•U•ME</span>
        <a href="/posts/new" id="newpost"><i class='glyphicon glyphicon-pencil'></i></a>
    </div>

    <div class="pure-u-6-24" id="tag-list">
      <p id="box-text">CHOOSE YOUR TAGS BELOW</p>
        <ul class="list-unstyled" id="list">
         <input type="text" name="tags" id="searchbox"> <i class="fa fa-search"></i><br>
         <br>
          <li>GIFS</li>
          <li>JOKES</li>
          <li>JAVASCRIPT</li>
          <li>RAILS</li>
          <li>RUBY</li>
          <li>PUGS</li>
          <li>KITTENS</li>
          <li>ALPACAS</li>
          <li>SLOTHS</li>
          <li>VIDEO</li>
          <li>FUNNY</li>
          <li>PIZZA</li>
          <li>SPORTS</li>
          <li>NBA</li>
          <li>MOVIES</li>
          <li>BOOKS</li>
          <li>GAME OF THRONES</li>
          <li>BREAKING BAD</li>
          <li>HOBBY</li>
          <li>SURFING</li>
          <li>NFL</li>
          <li>SHIBA INU</li>
          <li>SCOTTISH SHORTHAIR</li>
          <li>ANIMALS</li>
          <li>FINANCE</li>
          <li>ECONOMICS</li>
          <li>CSS</li>
          <li>TECH</li>
          <li>PROGRAMMING</li>
         
        </ul>
    </div>
    <div class="pure-u-8-24" id="tagger-div">

    </div>
    <div class="pure-u-10-24" id="pie-chart"></div>

    <div class="pure-u-12-24" id="bubble">
      <svg id="bubble-svg" height="590" width="700"></svg>
    </div>

    <div class="pure-u-12-24" id="post-view"></div>
</div> 


<!-- include this here so d3 has access to the DOM -->
<%= javascript_include_tag 'ifs' %>

