<!-- the main view for the ifs controller -->
<!-- include this here so d3 has access to the DOM -->
<div class="container">
<div><%= javascript_include_tag 'ifs' %></div>
<div class=".col-md-6" id="postbox"></div>
</div>


