<!-- the main view for the ifs controller -->
<!-- include this here so d3 has access to the DOM -->

<div><svg id="bubble-svg" height="500" width="700"></svg></div>
<div id="tagger-div">
  <div id="slider1"></div>
</div>

<div><%= javascript_include_tag 'ifs' %></div>

