
<div class="pure-g" id="main">
    <div class="pure-u-1-1" id="header">
        <a href="#" id="login">LOGIN <i class="fa fa-key"></i>&nbsp;&nbsp;&nbsp;
        <a href="#" id="signup">SIGN UP <i class="fa fa-user-plus"></i></a>
        <span class="logo">FOR•U•ME</span>
        <a href="#openModal" id="newpost"><i class='glyphicon glyphicon-pencil'></i></a>
          <div id="openModal" class="modalDialog">
            <div> <a href="#close" title="Close" class="close">X</a>

             <h4>PLEASE LOGIN BEFORE POSTING</h4>
            
            </div>
          </div>
        </div>

    <div class="pure-u-6-24 container-div">
      <p id="box-text">CHOOSE YOUR TAGS</p>
         <input type="text" name="tags" placeholder=" Search" id="searchbox"><br><br>
          <div id="tag-list">
          </div>
    </div>
    <div class="pure-u-8-24 container-div">
      <p id="selection-text">YOUR SELECTIONS</p><br>
      
      <div id="tagger-div">
      </div>
    </div>
    <div class="pure-u-10-24 container-div">
      <div id="pie-chart">
      </div>
    </div>

    <div class="pure-u-12-24 container-div">
      <svg id="bubble-svg" height="590" width="700"></svg>
    </div>

    <div class="pure-u-12-24 container-div">
      <div id="post-view">
      </div>
    </div>
</div> 


<!-- include this here so d3 has access to the DOM -->
<%= javascript_include_tag 'ifs' %>

