<!-- the main view for the ifs controller -->
<!-- include this here so d3 has access to the DOM -->
<style type="text/css">
 rect {
   float: left;
   border: solid 1px #aaa;
 }
</style>
<div>
	<svg id="bubble-svg" height="500" width="700"></svg>
</div>
<div id="tagger-div"> 
</div>





<%= javascript_include_tag 'tagger' %>
<%= javascript_include_tag 'post-viewer' %>

<%= javascript_include_tag 'ifs' %>

